* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-container img {
  width: 50px;
}

header .logo-container .logo {
  font-weight: 500;
  margin: 5px;
  font-size: 24px;
}

header nav {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

header nav .nav-links .link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

header .cart {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation .introduction {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-animation: dropup 2.5s ease;
          animation: dropup 2.5s ease;
}

.presentation .introduction .intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, right top, from(#494949), to(black));
  background: linear-gradient(to right, #494949, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.presentation .introduction .intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585572;
}

.presentation .introduction .cta {
  padding: 50px 0 0 0;
}

.presentation .introduction .cta .cta-select {
  border: 2px solid #c36cbb;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}

.presentation .introduction .cta .cta-add {
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0 0 30px;
}

.presentation .cover {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentation .cover img {
  height: 100%;
  -webkit-filter: drop-shadow(0px 8px 3px);
          filter: drop-shadow(0px 8px 3px);
  -webkit-animation: dropdown 1.5s ease;
          animation: dropdown 1.5s ease;
}

.big-ball {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}

.mid-ball {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  opacity: 0.4;
  height: 60%;
}

.small-ball {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}

@-webkit-keyframes dropdown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes dropdown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes dropup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes dropup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentation .introduction {
    margin-top: 5vh;
    text-align: center;
  }
  .presentation .introduction .intro-text h1 {
    font-size: 30px;
  }
  .presentation .introduction .intro-text p {
    font-size: 18px;
  }
  .presentation .introduction .cta {
    padding: 10px 0 0 0;
  }
  .presentation .cover img {
    height: 60%;
  }
  .small-ball, .mid-ball, .big-ball {
    opacity: 0.2;
  }
}

@media screen and (max-width: 414px) {
  .cover img {
    width: 70%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .small-ball {
    width: 0px;
  }
}
/*# sourceMappingURL=style.css.map */